{% extends "layout.html" %}
{% block content %}

    {% if result == "ok" %}
        <h3>Загрузка {{ video.file_name }} завершена.</h3>
    {% elif result == "fail" %}
        <h3>Ошибка загрузки файла.</h3>
    {% endif %}
    <form action="{{ request.url }}" method="post" enctype="multipart/form-data">
        <div class="p-3 bm-3 pb-3 form-label col-sm-2 col-form-label">
            <label class="form-label" for="name">
                <input placeholder="Имя файла" type="text" id="file_name" name="file_name" required/>
            </label>
            <label class="form-label" for="name">
                <input placeholder="Название упражнения" type="text" id="name"
                       name="name" required/></label>
            <label class="form-label" for="video_number">
                <input placeholder="Порядковый номер" type="number" id="video_number"
                       name="number" required/></label>
            <label class="form-label" for="description">
                <input placeholder="Описание" type="text" id="description"
                       name="description" required/></label>
            <label for="complex_id">
                <input placeholder="Комплекс ID" type="number" id="complex_id"
                       name="complex_id" required/></label>
        </div>
        <p><label for="file">Выберите файл для загрузки</label>
            <input type="file" id="file" name="file" multiple required></p>
        <div class="col">
            <input type="submit" value="Загрузить" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
