@font-face {
  font-family: Evolventa;
  font-display: swap;
  src: url("../fonts/Evolventa-Bold.woff2") format("woff2"), url("../fonts/Evolventa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Evolventa;
  font-display: swap;
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2"), url("../fonts/Evolventa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/


.hidden  {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


.reg-header {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 40px 40px;
  position: relative;
  z-index: 1;
}

.reg-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
}

.reg-header__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-header__logo {
  margin-right: 30px;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.reg-header__span {
  font-size: 30px;
}

.reg-banner {
  background-color: #fff;
  max-width: 740px;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  border-radius: 40px;
}



.reg-banner__title {
  font-size: 30px;
  background: linear-gradient(270deg, #D32A1E 0%, #EB5E54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}


.reg-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          padding: 20px;
}


.reg-banner__content-index {
  width: 45%;
}

.reg-banner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 57px;
  border-radius: 40px;
  font-size: 18px;
}

.reg-banner__link.reg-banner__link_reg {
  color: #EB5E54;
}

.reg-banner__link.reg-banner__link_entry {
  color: #ffffff;

}

.reg-banner__link + .reg-banner__link {
  margin-top: 10px;
}

.reg-banner__link_reg {
  background: -webkit-gradient(linear, right top, left top, from(rgba(211, 42, 30, 0.25)), to(rgba(211, 42, 30, 0.2)));
  background: -o-linear-gradient(right, rgba(211, 42, 30, 0.25) 0%, rgba(211, 42, 30, 0.2) 100%);
  background: linear-gradient(270deg, rgba(211, 42, 30, 0.25) 0%, rgba(211, 42, 30, 0.2) 100%);
}


.reg-banner__link_entry {
  background: -webkit-gradient(linear, right top, left top, from(#D32A1E), to(#EB5E54));
  background: -o-linear-gradient(right, #D32A1E 0%, #EB5E54 100%);
  background: linear-gradient(270deg, #D32A1E 0%, #EB5E54 100%);
  -webkit-box-shadow: 0px 2px 20px rgba(113, 7, 7, 0.25);
          box-shadow: 0px 2px 20px rgba(113, 7, 7, 0.25);
  padding: 0 50px;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  font-family: "Evolventa";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.reg-main {
  position: relative;
  background: #fafafa;
  padding-top: 146px;
  padding-bottom: 130px;
  overflow: hidden;
}

.reg-main__sketch {
  position: absolute;
  z-index: 0;
  width: calc(300px + 450 * (100vw - 320px) / 1600);
}

.reg-main__sketch img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reg-main__sketch_left {
  top: -100px;
  left: -40px;
}

.reg-main__sketch_right {
  top: 0;
  right: 0;
}

.reg-main__sketch_right_registration {
  bottom: -100px;
  right: -200px;
}

@media (max-width: 768px) {
  .reg-header {
    display: none;
  }

  .reg-banner__content {
    width: 60%;
  }

  .reg-main__sketch_left {
    top: 0;
  }

  .reg-main__sketch_right {
    top: 150px;
  }

  .container {
    max-width: none;
  }
}


@media (max-width: 470px) {
  .reg-banner__content {
    width: 90%;
  }
}


@media (max-width: 375px) {
  .container {
    padding: 0 10px;
  }
}


/* .webp .profile-card { background: url(../img/credit-card-bg.webp) 15px 0/auto no-repeat, -webkit-gradient(linear, right top, left top, from(#D32A1E), to(#EB5E54)); background: url(../img/credit-card-bg.webp) 15px 0/auto no-repeat, -o-linear-gradient(right, #D32A1E 0%, #EB5E54 100%); background: url(../img/credit-card-bg.webp) 15px 0/auto no-repeat, linear-gradient(270deg, #D32A1E 0%, #EB5E54 100%); } */

/* .webp .profile-card__adapt { background: url(../img/credit-card-bg.webp) 0 5px/auto no-repeat, -webkit-gradient(linear, right top, left top, from(#D32A1E), to(#EB5E54)); background: url(../img/credit-card-bg.webp) 0 5px/auto no-repeat, -o-linear-gradient(right, #D32A1E 0%, #EB5E54 100%); background: url(../img/credit-card-bg.webp) 0 5px/auto no-repeat, linear-gradient(270deg, #D32A1E 0%, #EB5E54 100%); } */
