.success-box {
  text-align: center;
  margin-bottom: 30px;
}

.success_header {
  font-size: 24px;
  background: linear-gradient(270deg, #D32A1E 0%, #EB5E54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  margin-bottom: 30px;
}