/* # TODO раскоментировать */
.modal-video__container {
  position: relative;
  font-family: "Evolventa";
  /*overflow: hidden;*/
  z-index: 1;
}

.modal-video__box {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}


.modal-video__card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25vw;
  height: auto;
  border-radius: 40px;
  margin-right: 40px;
  overflow: hidden;
  z-index: 1;
}

.modal-video__wrapper {
  position: relative;
  min-height: auto;
}


.modal-video {
  width: 100%;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
}

.modal-video__play {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 5vw;
  height: 5vw;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 3;
}

.modal-video__play img {
  width: 2vw;
  height: 2vw;
}

.modal-video__pause {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 5vw;
  height: 5vw;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
}

.modal-video__pause img {
  width: 2vw;
  height: 2vw;
}

.modal-video__viewed {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  color: #373737;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 15px 100px rgb(0 0 0 / 4%);
  padding: 10px;
}

.modal-video__viewed::before {
  content: "";
  display: block;
  width: 3vw;
  height: 3vw;
  background: url(../img/icons/plus.svg) center/contain no-repeat;
  margin-right: 20px;
}

.modal-video__title {
  text-align: center;
  font-size: 20px;
  padding: 20px 10px;
  /* margin-bottom: 20px; */
  color: #373737;
}


.modal-video__description  {
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #696969 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, #696969 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 10px;
}

.modal-video__time {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  color: rgba(102, 102, 102, 0.5);
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 100px rgb(0 0 0 / 2%);
  border-radius: 40px;
  padding: 5px 15px;
  z-index: 2;
}

.modal-video__time::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  background: url(../img/icons/clock.svg) center/cover no-repeat;
  margin-right: 15px;
}


@media (max-width: 768px) {
  .modal-video__card-wrapper {
    width: 80vw;
  }

  .modal-video__play {
    width: 20vw;
    height: 20vw;
  }

  .modal-video__play img {
    width: 10vw;
    height: 10vw;
  }

  .modal-video__pause {
    width: 20vw;
    height: 20vw;
  }

  .modal-video__pause img {
    width: 5vw;
    height: 5vw;
  }

}
