.lock {
  opacity: 0.6;
  filter: grayscale(0.3);
}

.lock-video {
  opacity: 0.3;
  filter: grayscale(0.5);
}

.videos__list-contetn {
  width: 100%;
  height: 100%;
}

.videos__list-header {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 5px;
}

.slide__container {
  position: relative;
  font-family: "Evolventa";
  z-index: 1;
}

.slide__box {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  transition: all 2s ease-in-out;
  width: max-content;
}


.slide__card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  margin-right: 40px;
  overflow: hidden;
  z-index: 1;
}


.slide__wrapper {
  position: relative;
  min-height: auto;
}


.slide {
  width: 100%;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
}

/* .slide.lock {
  opacity: 0.5;
}  */


.slide__play {
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -25%);
  width: 5vw;
  height: 5vw;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 3;
}

.slide__play img {
  width: 2vw;
  height: 2vw;
}

.slide__pause {
  position: absolute;
  top: 70%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 2;
}

.slide__pause img {
  width: 2vw;
  height: 2vw;
}

.slide__viewed {
  position: absolute;
  bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100%;
  font-size: 13px;
  line-height: 130%;
  color: #373737;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 15px 100px rgb(0 0 0 / 4%);
  padding: 13px;
}

.slide__viewed-text {
  max-width: 85%;
  font-size: 12px;
  line-height: 130%;
  color: #373737;
}

.slide__viewed-img {
  display: block;
  width: 3vw;
  height: 3vw;
}

.slide__title {
  text-align: center;
  font-size: 20px;
  padding: 15px 10px;
  color: #373737;
}


.slide__description  {
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #696969 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, #696969 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 10px;
}

.slide__time {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  color: rgba(102, 102, 102, 0.5);
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 100px rgb(0 0 0 / 2%);
  border-radius: 40px;
  padding: 5px 15px;
  z-index: 2;
}

.slide__time {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.slide__time-img {
  width: 3vw;
  height: 3vw;
  margin-right: 10px;
}

.slide__time-text {
  display: flex;
  white-space: nowrap;
}

.slide__disabled {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/* swiper */

.swiper {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 40px;
}

.swiper-wrapper {
  background-color: transparent;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/* .swiper-slide.slide__card-wrapper.swiper-slide-active {
  transform: scale(1.2);
} */

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(/media/avatars/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* переопределяем стиль библиотеки swiper на пагинацию*/
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}


.swiper-pagination-bullet {
  width: 5vw;
  height: 4px;
  background: radial-gradient(84.62% 84.62% at 50% 15.38%, #000000 0%, rgba(255, 255, 255, 0) 100%);
}

.swiper-pagination-bullet-active {
  width: 5vw;
  height: 4px;
  margin-bottom: 10px;
  background: radial-gradient(84.62% 84.62% at 50% 15.38%, #D32A1E 0%, rgba(255, 255, 255, 0) 100%);
}

.swiper-scrollbar {
  display: none;
}

.swiper-button-next::after {
  content: "";
  position: absolute;
  top: 40px;
  font-size: 0;
  z-index: 3;
  width: 36px;
  height: 42px;
  background: url(../img/icons/slick-arrow.svg) center/auto no-repeat;
  z-index: 2;
}


.swiper-button-prev, .swiper-rtl .swiper-button-next {
  top: 0;
  right: 10%;
  left: initial;
}

.swiper-button-next {
  top: 0;
  right: 0;
}

.swiper-button-prev::after {
  content: "";
  position: absolute;
  top: 40px;
  font-size: 0;
  z-index: 3;
  width: 36px;
  height: 42px;
  background: url(../img/icons/slick-arrow.svg) center/auto no-repeat;
  transform: rotate(180deg);
  z-index: 2;
}



@media (max-width: 768px) {

  /* .swiper-slide.slide__card-wrapper.swiper-slide-active {
    transform: scale(0.9);
  } */

  .videos__list-contetn {
    padding-top: 0;
  }

  .videos__list-header {
    font-size: 22px;
  }

  /* переопределяем стиль библиотеки swiper на пагинацию */
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 50px;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: 15%;
  }

  .slide__play {
    width: 8vw;
    height: 8vw;
  }

  .slide__play img {
    width: 4vw;
    height: 4vw;
  }

  .slide__pause {
    width: 8vw;
    height: 8vw;
  }

  .slide__pause img {
    width: 4vw;
    height: 4vw;
  }

  .slide__viewed-img {
    width: 5vw;
    height: 5vw;
  }

  .slide__time-img {
    width: 5vw;
    height: 5vw;
  }

}
