{% extends 'base.html' %}

{% block body_header %}
    <header class="profile-header">
        <div class="container">
            <div class="profile-header__cover"></div>
            <div class="profile-header__row">
                <div class="profile-header__burger">
                    <span></span>
                </div>
                <div class="profile-header__menu header-menu">
                    <div class="header-menu__user">
                        <a href="/profile">
                            <div class="header-menu__icon">
                                <picture>
                                    <source srcset="/static/img/dragon.webp"
                                            type="image/webp">
                                    <img src="/static/img/dragon.png" width="40" height="40" alt="">
                                </picture>
                            </div>
                            <div class="header-menu__name">
                                {{ username }}
                            </div>
                        </a>
                    </div>
                    <div class="header-menu__main">
                        <ul class="header-menu__list">
                            <li>
                                <a href="/profile" class="header-menu__link prof">
                                    Профиль
                                </a>
                            </li>
                            <li>
                                <a href="/notifications" class="header-menu__link not">
                                    Уведомления
                                </a>
                            </li>
                        </ul>
                        <div class="header-menu__buttons">
                            <a href="/index" class="header-menu__exit">
                                Выйти
                            </a>
                            <div class="header-menu__social">
                                <a href="{{ vk_link }}" class="header-menu__vk">
                                </a>
                                <a href="{{ youtube_link }}" class="header-menu__youtube">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-header__acc">
                    <div class="profile-header__logo">
                        <a href="{{ icon_link }}" class="footer__logo">
                            <img src="/static/img/icons/acc__home.svg" alt="">
                        </a>
                    </div>
                    <span class="profile-header__span">{{ head_title }}</span>
                </div>
                <div class="profile-header__main">
                    <div class="profile-header__user header-user">
                        <a href="/profile">
                            <div class="header-user__icon">
                                <picture>
                                    <source srcset="/static/img/dragon.webp"
                                            type="image/webp">
                                    <img src="/static/img/dragon.png" width="40" height="40" alt="">
                                </picture>
                            </div>
                            <div class="header-user__info">
                                <div class="header-user__name">{{ user.username }} {{ user.last_name }}</div>
                                <div class="header-user__phone">
                                    {{ user_present_phone }}
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="profile-header__exit">
                        <a href="/logout">
                            <img src="/static/img/icons/exit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body_header %}


{% block main %}
    <main class="main profile-main">
        {% block profile_menu %}
            <menu class="profile-menu">
                <div class="container">
                    <div class="profile-menu__grid">
                        {% if user.is_active %}
                            <a href="/complexes_list"
                               class="profile-menu__link fla {{ "active" if request.url.path == "/complexes_list" or "videos_list" in request.url.path else "" }}">
                                Зарядка
                            </a>
                        {% endif %}
                        <a href="/profile"
                           class="profile-menu__link prof {{ "active" if "profile" in request.url.path else "" }}">
                            Профиль
                        </a>
                        <a href="/notifications"
                           class="profile-menu__link not {{ "active" if request.url.path == "/notifications" else "" }}">
                            Уведомления
                        </a>
                        <a href="/subscribe"
                           class="profile-menu__link sub {{ "active" if "subscribe" in request.url.path else "" }}">
                            Подписка
                        </a>
                    </div>
                </div>
            </menu>
        {% endblock profile_menu %}

        {% block profile_content %}
        {% endblock profile_content %}
    </main>
{% endblock main %}

{% block profile_footer %}
    <div class="profile-footer">
        <div class="container">
            <ul class="profile-footer__row">
                <li>
                    <a href="/profile" class="profile-footer__link home">
                    </a>
                </li>
                <li>
                    <a href="/subscribe" class="profile-footer__link card">
                    </a>
                </li>
                <li>
                    <a href="/charging" class="profile-footer__link fla">
                    </a>
                </li>
                <li>
                    <a href="/profile" class="profile-footer__link prof">
                    </a>
                </li>
                <li>
                    <a href="/notifications" class="profile-footer__link not">

                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock profile_footer %}

