{% extends 'base_profile.html' %}


{% block profile_content %}



    <section class="complexes-list__content container">
        <p class="complexes-list__title">Вам доступен комплекс упражнений<span class="complexes-list__number-complex"></span></p>

            <div class="swiper mySwiperComplex">
                <div class="swiper-wrapper">

                    {% for complex in complexes %}

                    <div id="{{ complex.id }}" class="swiper-slide complexes-list__wrapper">

                        <div class="complexes-list-slide">
                            <div class="complexes-list-image__wrapper">
                                    <img class="complexes-list-image lock" src="/static/img/reg__bg-red.svg" width="220px" height="330px" alt="dragon">
                                <div class="complexes-list__time"> 
                                    <span class="complexes-list__time-text"> мин</span>
                                    <img class="complexes-list__time-img" src="/static/img/icons/clock.svg" width="20px" height="20px" alt="clock">
                                </div>
                                <a href="/videos_list/{{ complex.id }}" class="complexes-list-slide__btn-box">
                                    <span class="complexes-list-slide__btn-text">Посмотреть</span>
                                    <img class="complexes-list-slide__btn-img" src="/static/img/icons/plus.svg" alt="plus">
                                </a>

                                <div class="complexes-list-slide__lock">
                                    <p class="complexes-list-slide__lock-text">Станет доступно на {{ complex.number }} уровне, до {{ complex.number }} уровня, нужно полностью выполнить <span>{{ complex.number }}</span> комплекс"</p>
                                    <img class="complexes-list-slide__lock-img" src="/static/img/icons/lock.svg" width="20px" height="20px">

                                </div>
                            </div>

                            
                            <div class="complexes-list-slide__text">
                                <div class="complexes-list-slide__title">
                                    {{ complex.name }}
                                </div>
                                <div class="complexes-list-slide__desc">
                                    {{ complex.description }}
                                </div>
                            </div>

                        </div>

                    </div>
                    {% endfor %}
                </div>

                <div class="swiper-pagination"></div>
            
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <div class="swiper-scrollbar"></div>

            </div>
    </section>

{% endblock profile_content %}
