{% extends 'base_profile.html' %}


{% block profile_content %}

    <section class="charging__content">
        <div class="charging-container">
            <div class="charging__title">
                Комплекс <span>1</span>
            </div>

            <div class="charging-slider">
                {% for complex in complexes %}
                    <div class="charging-slide {{ 'unlock' if user.level >= complex.number else 'lock' }}">
                    <div class="charging-slide__wrapper">
                        <div class="charging-slide__image charging-image">

                            <!-- Для тех зарядок, что просмотрены -->
                            {% if complex.id in viewed_complexes %}
                                <div class="charging-image__wrapper viewed">
                            {% else %}
                                <div class="charging-image__wrapper">
                            {% endif %}

                            <!-- Добавить класс viewed тут -->
                            <picture>
                                <source srcset="/static/img/dragon.jpg"
                                        type="image/webp">
                                <img class="charging-image__wrapper-img"
                                     src="/static/img/dragon.jpg" alt="dragon">
                            </picture>
                            </div>
                            <div class="charging-image__time">{{ complex.duration }} мин</div>
                            {% if complex.id in viewed_complexes %}
                                <div class="charging-image__remained">
                                    Завершено
                                </div>
                                <a href="/videos_list/{{ complex.id }}" class="charging-slide__btn">
                                    Посмотреть еще раз
                                </a>

                            {% else %}
                                <a href="/videos_list/{{ complex.id }}" class="charging-slide__btn">
                                    Посмотреть
                                </a>
                            {% endif %}

                            </div>
                            <div class="charging-slide__text">
                                <div class="charging-slide__title">
                                    {{ complex.name }}
                                </div>
                                <div class="charging-slide__desc">
                                    {{ complex.description }}
                                </div>
                            </div>
                        </div>
                        <div class="charging-slide__lock">Станет доступно на {{ complex.number }}
                            уровне, до {{ complex.number }}
                            уровня осталось {{ to_next_level }} упражнений
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock profile_content %}
