{% extends 'base_profile.html' %}


{% block profile_content %}



    <section class="complexes-list__content container">
        <p class="complexes-list__title">Вам доступен комплекс упражнений<span class="complexes-list__number-complex"></span></p>

            <div class="swiper mySwiperComplex">
                <div class="swiper-wrapper">

                    {% for complex in complexes %}

                    <div id="{{ complex.id }}" class="swiper-slide complexes-list__wrapper">

                        <div class="complexes-list-slide">
                            <div class="complexes-list-image__wrapper">
                                    <img class="complexes-list-image lock" src="/static/img/reg__bg-red.svg" width="220px" height="330px" alt="dragon">
                                <div class="complexes-list__time"> 
                                    <span class="complexes-list__time-text"> мин</span>
                                    <img class="complexes-list__time-img" src="/static/img/icons/clock.svg" width="20px" height="20px" alt="clock">
                                </div>
                                <a class="complexes-list-slide__btn-box" href="/videos_list/{{ complex.id }}">
                                    <span class="complexes-list-slide__btn-text">Посмотреть</span>
                                    <img class="complexes-list-slide__btn-img" src="/static/img/icons/plus.svg" alt="plus">
                                </a>

                                <div class="complexes-list-slide__lock">
                                    <p class="complexes-list-slide__lock-text">Станет доступно на {{ complex.number }} уровне, до {{ complex.number }} уровня, нужно полностью выполнить <span>{{ complex.number }}</span> комплекс"</p>
                                    <img class="complexes-list-slide__lock-img" src="/static/img/icons/lock.svg" width="20px" height="20px">

                                </div>
                            </div>

                            
                            <div class="complexes-list-slide__text">
                                <div class="complexes-list-slide__title">
                                    {{ complex.name }}
                                </div>
                                <div class="complexes-list-slide__desc">
                                    {{ complex.description }}
                                </div>
                            </div>

                        </div>

                    </div>
                    {% endfor %}
                </div>

                <div class="swiper-pagination"></div>
            
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <div class="swiper-scrollbar"></div>

            </div>


            <!-- Модальное окно -->
            <div class="new-level-box hidden">
                <div class="new-level">
                    <button type="button" class="new-level__close">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2804 1.28033C15.5732 0.987437 15.5732 0.512563 15.2804 0.21967C14.9875 -0.0732233 14.5126 -0.0732233 14.2197 0.21967L7.75001 6.68935L1.28033 0.219673C0.987437 -0.0732203 0.512563 -0.0732203 0.21967 0.219673C-0.0732233 0.512566 -0.0732233 0.98744 0.21967 1.28033L6.68935 7.75001L0.219697 14.2197C-0.0731964 14.5126 -0.0731964 14.9874 0.219697 15.2803C0.51259 15.5732 0.987464 15.5732 1.28036 15.2803L7.75001 8.81067L14.2197 15.2803C14.5126 15.5732 14.9874 15.5732 15.2803 15.2803C15.5732 14.9874 15.5732 14.5126 15.2803 14.2197L8.81067 7.75002L15.2804 1.28033Z" fill="url(#paint0_linear_156_3297)" />
                            <defs>
                            <linearGradient id="paint0_linear_156_3297" x1="15.5" y1="7.89092" x2="-1.41322e-08" y2="7.89092" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#D32A1E"/>
                            <stop offset="1" stop-color="#EB5E54"/>
                            </linearGradient>
                            </defs>
                        </svg>
                    </button>
                    <p class="new-level_header">Вы сегодня уже выполнили комплекс, приходите завтра.</p>
                    
                   </div>
            </div>



    </section>

{% endblock profile_content %}
