{% extends 'base_profile.html' %}

{% block profile_content %}
    <section class="profile-content">
        <div class="container">
            {% include 'messages/error_message.html' %}
            {% include 'messages/success_message.html' %}
            <div class="profile-editing__form-box">
                <form action="/edit_profile" method="POST" class="profile-editing__form">

                    <fieldset class="profile-editing__form-fieldset">
                        <legend class="profile-editing__form-legend">Редактирование профиля</legend>

                        <div class="profile-editing__form-box-input">
                            <input id="username" class="profile-editing__form-input" type="text" placeholder="Имя"
                               name="username" value="{{ user.username }}" required>
                            <label class="profile-editing__form-label" for="username">Имя</label>
                        </div>
                        <div class="profile-editing__form-box-input">
                            <input id="last_name" class="profile-editing__form-input" type="text" placeholder="Фамилия" name="last_name" required
                               value="{{ user.last_name }}">
                            <label class="profile-editing__form-label"  for="last_name">Фамилия</label>
                        </div>
                        <div class="profile-editing__form-box-input">
                            <input id="third_name" class="profile-editing__form-input" type="text"
                               placeholder="Отчество" name="third_name"
                               value="{{ user.third_name }}" required>
                            <label class="profile-editing__form-label"  for="third_name">Отчество</label>
                        </div>
                        <div class="profile-editing__form-box-input">
                            <input id="email" class="profile-editing__form-input" type="email" placeholder="Почта"
                               name="email" required
                               pattern={{ email_pattern }} value="{{ user.email }}">
                            <label class="profile-editing__form-label"  for="email">Email</label>
                        </div>

                        <!-- TODO: маска на номере телефона провалидировать на сервере -->
                        {% include 'form_fields/phone_edit_profile_field.html' %}

                        <input class="profile-editing__form-submit" type="submit" value="Сохранить">
                    </fieldset>
                </form>

                <form action="/newPassword" method="POST" class="profile profile-editing__form">
                    <fieldset class="profile-editing__form-fieldset">

                        <legend class="profile-editing__form-legend">Поменять пароль</legend>
                        <div class="profile-editing__form-box-input">
                            <input id="old_password" class="profile-editing__form-input" type="password"
                               placeholder="Введите старый пароль" name="old_password" required>
                            <label class="profile-editing__form-label"  for="old_password">Старый пароль</label>
                        </div>
                        <div class="profile-editing__form-box-input">
                            <input id="password" class="profile-editing__form-input" type="password"
                               placeholder="Введите новый пароль" name="password" required>
                            <label class="profile-editing__form-label"  for="password">Новый пароль</label>
                        </div>
                        <div class="profile-editing__form-box-input">
                            <input id="password2" class="profile-editing__form-input" type="password"
                               placeholder="Подтвердите новый пароль" name="password2" required>
                            <label class="profile-editing__form-label"  for="password2">Подтвердить новый пароль</label>
                        </div>
                        <input class="profile-editing__form-submit" type="submit"
                               value="Изменить пароль">
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock profile_content %}
