{% extends 'base.html' %}

{% block main %}
    <main class="main reg-main entry_main">
        <div class="reg-main__sketch reg-main__sketch_left reg-main__sketch_left_registration">
            <img src="/static/img/reg__bg.svg" alt="">
        </div>
        <div class="reg-main__sketch reg-main__sketch_right reg-main__sketch_right_registration">
            <img src="/static/img/reg__bg_rotate.svg" alt="">
        </div>
        <div class="container">
            <div class="reg-content__banner reg-banner">
                <div class="reg-banner__content">
                    <div class="registration__logo"></div>

                    {% include 'messages/error_message.html' %}
                    {% include 'messages/success_message.html' %}

                    <form action="/entry_sms" method="POST" class="registration__form">
                        {% include 'form_fields/phone_field.html' %}

                        <div class="registration__gender registration-gender">
                            <input class="registration-gender__input" type="radio"
                                   name="sms_send_to"
                                   id="femaleGender" value="sms" checked>
                            <label class="registration-gender__label" for="femaleGender">
                                СМС
                            </label>
                            <input class="registration-gender__input" type="radio"
                                   name="sms_send_to"
                                   id="maleGender" value="call">
                            <label class="registration-gender__label" for="maleGender">
                                Звонок
                            </label>
                        </div>
                        <button type="submit"
                                class="registration__btn reg-banner__link_entry">
                            Войти
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
