{% extends 'base.html' %}

{% block main %}
    <main class="main reg-main">
        <div class="reg-main__sketch reg-main__sketch_left">
            <img src="/static/img/reg__bg.svg" alt="">
        </div>
        <div class="reg-main__sketch reg-main__sketch_right">
            <img src="/static/img/reg__bg_rotate.svg" alt="">
        </div>
        <div class="container">
            <div class="reg-content__banner reg-banner">
                <div class="reg-banner__content">
                    <div class="reg-banner__logo">
                    </div>
                    <h2 class="reg-banner__title">
                        {{ title }}
                    </h2>
                    <a href="/registration"
                       class="reg-banner__link reg-banner__link_reg"><span>Регистрация</span></a>
                    <a href="/entry"
                       class="reg-banner__link reg-banner__link_entry"><span>Вход</span></a>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}
