{% extends 'base_profile.html' %}

{% block profile_content %}
    <div class="new-level">
        <span class="unsubscribe_header">Поздравляем! Вы перешли на {{ user.level }}-ой уровень!</span>
        <div class="successCharge-modal__level">
            <div>
                <span class="bigred">{{ user.level }}</span><span>/{{ max_level }}</span>
            </div>
        </div>
        <span class="unsubscribe_text">
            Завтрашний комплекс займет {{ current_complex.duration }} минут
        </span>
        <a href="/come_tomorrow" class="successCharge-modal__link modal__close">
            Отлично
        </a>
    </div>
{% endblock profile_content %}
