{% extends 'base_profile.html' %}

{% block main %}
<div class="payment-report__wrapper container">
    <table class="payment-report">
        <thead>
        <tr class="payment-report__row">
            <th class="payment-report__header" scope="col">Номер ордера</th>
            <th class="payment-report__header" scope="col">Телефон</th>
            <th class="payment-report__header" scope="col">Дата</th>
            <th class="payment-report__header" scope="col">Сумма</th>
            <th class="payment-report__header" scope="col">Метод оплаты</th>
        </tr>
        </thead>

        <tbody>
            {% for check in checks %}

            <tr class="payment-report__row">
                <th scope="row">{{ check.order_id }}</th>
                <td class="payment-report__cell">{{ check.customer_phone }}</td>
                <td class="payment-report__cell">{{ check.date }}</td>
                <td class="payment-report__cell">{{ check.sum }}</td>
                <td class="payment-report__cell">{{ check.payment_type }}</td>
            </tr>

        {% endfor %}
         

        </tbody>

    </table>

    <a class="payment-report__download" href="/download_checks/{{ download_file_link }}" download="">
        <span class="payment-report__download-text">Скачать историю</span>
        <img class="payment-report__download-img" src="/static/img/icons/sub-download.svg" width="20px" height="20px"/>
    </a>

</div>



{% endblock main %}
