{% extends 'base_profile.html' %}


{% block profile_content %}
    <section class="profile-content container">
            <div class="profile-content__row">
                <div class="profile-content__profile user-profile">
                    <div class="user-profile__info">
                        <div class="user-profile__image-wrapper">
                            <img class="user-profile__img" id="resizer-demo" src="/media/avatars/{{ avatar.file_name }}" width="80px" height="80px" alt="">


                            <form class="user-profile__img-form" method="POST" enctype="multipart/form-data">
                                <input class="user-profile__img-input" id="avatar" type="file" accept="image/png, image/jpg" name="avatar">
                                <input type="submit" class="user-profile__img-submit">
                            </form>

                            <button class="vanilla-result">Сохранить</button>
                            <button class="vanilla-rotate" data-deg="-90">Повернуть</button>
                            <div class="user-profile__image-icon-box">
                                <img class="user-profile__image-icon" src="/static/img/icons/photo.svg" width="30px" height="30px" alt="photo-icon">
                            </div>
                        </div>
                        <div class="user-profile__contacts">
                            <div class="user-profile__name user-profile__name_input">
                                {{ user.username }} {{ user.last_name }}
                            </div>
                            <div class="user-profile__phone">
                                {{ user_present_phone }}
                            </div>
                        </div>
                    </div>

                    {% include 'messages/error_message.html' %}
                    {% include 'messages/success_message.html' %}

                    <form action="/edit_profile" method="GET" class="user-profile__form">
                        <button type="submit"
                                class="user-profile__btn">
                            Редактировать профиль
                        </button>
                    </form>

                    <div class="user-profile__card profile-card">
                        <div class="profile-card__info">
                            <div class="profile-card__icon"><img
                                    src="/static/img/icons/credit-card.svg"
                                    alt=""></div>
                            <div class="profile-card__number">Ваш тариф: <span class="profile-card__tarrif">{{ rate.name }}</span></div>
                        </div>
                        <div class="profile-card__title">
                            {{ user.expired_at }}
                        </div>


                        <a href="/subscribe" class="profile-card__link">Подробнее</a>
                    </div>
                </div>
                <div class="profile-content__flex">
                    <div class="profile-content__progress profile-progress">
                        <div class="profile-progress__title">
                            Ваш прогресс
                        </div>
                        <div class="profile-progress__circle_bg">
                            <div class="profile-progress__circle">
                                <div class="profile-progress__circle_info">
                                    <span class="bigRed">{{ user.level }}</span><span>/{{ max_level }}</span>
                                    <span class="profile-progress__level">Уровень</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card__adapt">

                        <div class="profile-card__info">
                            <div class="profile-card__icon"><img src="/static/img/icons/credit-card.svg" alt=""></div>
                            <div class="profile-card__number">Ваш тариф: <span class="profile-card__tarrif">{{ rate.name }}</span></div>
                        </div>


                        <div class="profile-card__title">
                            {{ user.expired_at }}
                        </div>

                        <a href="/subscribe"
                        class="profile-card__link">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="new-level-box hidden">
                <div class="new-level">
                    <button type="button" class="new-level__close">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2804 1.28033C15.5732 0.987437 15.5732 0.512563 15.2804 0.21967C14.9875 -0.0732233 14.5126 -0.0732233 14.2197 0.21967L7.75001 6.68935L1.28033 0.219673C0.987437 -0.0732203 0.512563 -0.0732203 0.21967 0.219673C-0.0732233 0.512566 -0.0732233 0.98744 0.21967 1.28033L6.68935 7.75001L0.219697 14.2197C-0.0731964 14.5126 -0.0731964 14.9874 0.219697 15.2803C0.51259 15.5732 0.987464 15.5732 1.28036 15.2803L7.75001 8.81067L14.2197 15.2803C14.5126 15.5732 14.9874 15.5732 15.2803 15.2803C15.5732 14.9874 15.5732 14.5126 15.2803 14.2197L8.81067 7.75002L15.2804 1.28033Z" fill="url(#paint0_linear_156_3297)"></path>
                            <defs>
                            <linearGradient id="paint0_linear_156_3297" x1="15.5" y1="7.89092" x2="-1.41322e-08" y2="7.89092" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#D32A1E"></stop>
                            <stop offset="1" stop-color="#EB5E54"></stop>
                            </linearGradient>
                            </defs>
                        </svg>
                    </button>
                    <p class="new-level_header">Приветсвенная модалка</p>
                   </div>
            </div>
    </section>
{% endblock profile_content %}
