{% extends 'base_profile.html' %}


{% block profile_content %}
    <section class="profile-content">
        <div class="container">
            <div class="profile-content__row">
                <div class="profile-content__profile user-profile">
                    <div class="user-profile__info">
                        <div class="user-profile__image">
                            <picture>
                                <source srcset="/static/img/dragon-avatar.webp"
                                        type="image/webp">
                                <img src="/static/img/dragon-avatar.jpg" width="90" height="90"
                                     alt=""></picture>
                        </div>
                        <div class="user-profile__contacts">
                            <div class="user-profile__name user-profile__name_input">
                                {{ user.username }} {{ user.last_name }}
                            </div>
                            <div class="user-profile__phone">
                                {{ user_present_phone }}
                            </div>
                        </div>
                    </div>

                    {% include 'error_message.html' %}
                    {% include 'success_message.html' %}

                    <form action="/edit_profile" method="GET" class="user-profile__form">
                        <button type="submit"
                                class="registration__btn reg-banner__link_entry">
                            Редактировать профиль
                        </button>
                    </form>

                    <div class="user-profile__card profile-card">
                        {% if user.expired_at %}
                            <div class="profile-card__title">
                                Подписка автоматически продлится {{ user.expired_at }} числа
                            </div>
                        {% else %}
                            <div class="profile-card__title">
                                Нет подписки
                            </div>

                        {% endif %}
                        <div class="profile-card__info">
                            <div class="profile-card__icon"><img
                                    src="/static/img/icons/credit-card.svg"
                                    alt=""></div>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <div class="profile-card__number">1234</div>
                        </div>
                        <a href="{{ subscribe_info }}" class="profile-card__link">Подробнее</a>
                    </div>
                </div>
                <div class="profile-content__progress profile-progress">
                    <div class="profile-progress__title">
                        Ваш прогресс
                    </div>
                    <div class="profile-progress__circle_bg">
                        <div class="profile-progress__circle">
                            <div class="profile-progress__circle_info">
                                <span class="bigRed">{{ user.level }}</span><span>/{{ max_level }}</span>
                                <span class="profile-progress__level">Уровень</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-card__adapt">
                        {% if user.expired_at %}
                            <div class="profile-card__title">
                                Подписка автоматически продлится {{ user.expired_at }} числа
                            </div>
                        {% else %}
                            <div class="profile-card__title">
                                Нет подписки
                            </div>
                    <div class="profile-card__info">
                        <span class="stars">**** **** ****</span>
                        <div class="profile-card__number">1234</div>
                    </div>
                    <a href="{{ subscribe_info }}"
                       class="profile-card__link_adapt">Подробнее</a>
                </div>
            </div>
        </div>
    </section>
{% endblock profile_content %}
