{% extends 'base_profile.html' %}

{% block main %}

    <main class="main profile-main">
        <section>
            <div class="startCharging-container">
                <div class="charging-video__wrapper">
                    <video class="charging-video" src="/static/media/test.mp4">
                    </video>
                    <button class="charging-video__play">
                        <img src="/static/img/icons/charging-play-btn.svg" alt="">
                    </button>
                    <button class="charging-video__pause hidden">
                        <img src="/static/img/icons/charging-pause-btn.svg" alt="">
                    </button>
                </div>
            </div>
        </section>
        <div class="modal successCharge-modal" id="successCharge">
            <div class="successCharge-modal__content modal__content">
                <div class="successCharge-modal__close modal__close red"></div>
                <div class="successCharge-modal__column">
                    <form action="/finishCharging" method="POST" class="registration__form">
{#                        <input type="text" name="user_id" value={{ user.id }} hidden/>#}
                        <button href="/finishCharging" type="submit"
                                class="registration__btn reg-banner__link_entry">
                            Готово
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock main %}
