{% extends 'base_profile.html' %}

{% block profile_content %}
    <section class="profile-content">
        <div class="container">

            {% include 'error_message.html' %}
            {% include 'success_message.html' %}

            <h2 class="subscribe-card_header">
                Ваш текущий тариф: <span>{{ current_rate.name }}</span>
            </h2>
            <div class="subscribe__box">


                {% for rate in rates %}
                    {% if rate.price %}

                        <div class="subscribe-card">
                            <div class="subscribe-card__text">
                                {{ rate.name }}
                            </div>
                            <div class="subscribe-card__text">
                                {{ rate.price }}
                            </div>
                            <a href="/get_subscribe/{{ rate.id }}" class="subscribe-card__btn">Подписаться</a>
                        </div>

                    {% endif %}
                {% endfor %}

                {#               # TODO переделать на кнопку скачивания файла #}

            </div>

            <a href="/payment_report" class="subscribe__download">
                История транзакций
            </a>
            <a href="/cancel_subscribe" class="subscribe__cancel">
                Отменить подписку
            </a>

        </div>
    </section>
{% endblock profile_content %}
