{% extends 'base_profile.html' %}

{% block profile_content %}
    <section class="profile-content">
        <div class="container">
            <div class="subscribe__grid">

                {% include 'error_message.html' %}
                {% include 'success_message.html' %}

                <div class="user-profile__card profile-card subscribe-card">
                    <div class="profile-card__title subscribe-card__text">
                        Сменить карту
                    </div>
                    <div class="profile-card__title subscribe-card__text">
                        В своём стремлении улучшить пользовательский опыт мы упускаем, что
                        реплицированные с зарубежных
                    </div>
                    <a href="#" class="profile-card__link">Сменить</a>
                    <a href="/get_subscribe" class="profile-card__link">Подписаться</a>
                </div>

                {#               # TODO переделать на кнопку скачивания файла #}

                <a href="#" class="subscribe__download">
                    Скачать историю транзакций
                </a>
                <a href="/cancel_subscribe" class="subscribe__cancel">
                    Отменить подписку
                </a>
            </div>
        </div>
    </section>
{% endblock profile_content %}
