<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Video</title>
</head>
<body>
{%  if result == "ok" %}
<h3>Загрузка завершена.</h3>
{%  elif result == "fail" %}
<h3>Ошибка загрузки файла.</h3>
{%  endif %}

<form action="/ci_admin/upload" method="post" enctype="multipart/form-data">
    <p><label class="form-label" for="file_name">Имя файла: </label>
        <input type="text" id="file_name" name="file_name"/></p>
    <p><label class="form-label" for="name">Название видео: </label>
        <input type="text" id="name" name="name"/></p>
    <p><label class="form-label" for="description">Описание: </label>
        <input type="text" id="description" name="description"/></p>
    <p><label for="complex_id">Комплекс ID: </label>
        <input type="number" id="complex_id" name="complex_id"/></p>

    <label for="file">Выберите файл для загрузки</label>
    <input type="file" id="file" name="file" multiple>
    <input type="submit" value="submit">
</form>
</body>
</html>

