{% extends 'base_profile.html' %}

{% block profile_content %}

    <section class="charging__content">

        <div class="modal-video__container container">

            <div class="modal-video__box">

                {% for video in videos %}

                    <div class="modal-video__card-wrapper" data-id="{{ video.id }}" tabindex="0">

                        <div class="modal-video__wrapper">
                            <div class="modal-video__time"> {{ video.duration.minute }} мин</div>
                            <!-- {{video.file_name}} -->
                            <video id="{{ video.id }}" data-id="{{ video.id }}" class="modal-video"
                                   src="/static/media/{{ video.file_name }}"
                                   poster="/static/img/charging-image.png" muted></video>
                            <a href="#" class="modal-video__viewed">Нажмите чтобы посмотреть</a>
                        </div>
                        <button data-id="{{ video.id }}" class="modal-video__play">
                            <img data-id="{{ video.id }}"
                                 src="/static/img/icons/charging-play-btn.svg" alt="">
                        </button>

                        <button data-id="{{ video.id }}" class="modal-video__pause hidden">
                            <img data-id="{{ video.id }}"
                                 src="/static/img/icons/charging-pause-btn.svg" alt="">
                        </button>

                        <h3 href="#" class="modal-video__title">Видео {{ video.id }}</h3>
                        <p class="modal-video__description">{{ video.description }}</p>
                    </div>

                {% endfor %}

            </div>
            <div class="new-level-box hidden">

                <div class="new-level">
                    <span class="new-level_header">Поздравляем! Вы перешли на {{ user.level }} уровень!</span>
                    <div class="new-level-modal__level">
                        <div>
                            <!-- {{ max_level }} не подтягивается пока -->
                            <span class="bigred">{{ user.level }}</span><span>/ 10</span>
                        </div>
                    </div>
                    <span class="new-level__text">
                        <!-- {{ current_complex.duration }} не подтягивается пока -->
                        Завтрашний комплекс займет {{ current_complex.duration }} минут
                    </span>

                    <a href="/come_tomorrow" class="new-level__link">
                        Отлично
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock profile_content %}
